body {
  font-family: sans-serif;
  background: #111;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.title {
  font-size: 40px;
  margin-bottom: 30px;
}

.piano {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.key {
  width: 70px;
  color: #111;
  font-size: 22px;
  font-weight: 700;
  height: 200px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.1s;
}

.white {
  background: white;
  border: 1px solid #ccc;
}

.key.active {
  background: linear-gradient(279deg , rgba(146, 120, 120, 0.487), rgba(168, 214, 168, 0.71) ,rgba(133, 133, 176, 0.624)) !important;
  color: white;
  transform: scale(0.95);  
    border-color: #ffc600;  
    box-shadow: 0 0 10px #ffc600;
    transition: all 0.07s;   
}
