:root {
    --x: 50%;
    --y: 50%;
    --shape: 250px;
}

* {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: black;
    // background-image: url(https://images.unsplash.com/photo-1615966650071-855b15f29ad1?q=80&w=966&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background: url(https://www.pexels.com/download/video/34989049/);
    background-repeat: no-repeat;
    background-size: cover;

}

main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(var(--shape) at var(--x) var(--y), rgba(255, 255, 255, 0), rgb(0, 0, 0));

}
section{
    height: 100%;
    width: 100%;
    // background-color: yellow;

    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

