* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

main {
    width: 100%;
    height: 100%;

    section {
        height: 100%;
        width: 350px;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        // background-color: black;

        .all-reels {
            width: 100%;
            height: 100%;
            overflow: auto;
            scroll-behavior: smooth; 
            scrollbar-width: none;
            -ms-overflow-style: none;


            .reel {
                width: 100%;
                overflow: hidden;
                height: 100%;
                // margin-bottom: 20px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                #bottom {
                    left: 0;
                    gap: 10px;
                    bottom: 0;
                    width: 100%;
                    height: 20%;
                    display: flex;
                    color: white;
                    position: absolute;
                    padding-left: 15px;
                    align-items: center;
                    flex-direction: column;
                    // background-color: aqua;

                    #bt-top {
                        gap: 10px;
                        width: 100%;
                        display: flex;
                        color: white;
                        align-items: center;
                        // background-color: #fff;

                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                        }

                        h3 {
                            font-size: 15px;
                            color: white;
                        }

                        button {
                            // width: 60px;
                            // height: 30px;
                            padding: 5px;
                            color: white;
                            border-radius: 10px;
                            border: 2px solid white;
                            background-color: transparent;
                            cursor: pointer;

                        }
                    }

                    #bt-bottom {
                        width: 100%;
                        margin-left: 10px;

                        p {
                            font-size: 18px;
                            margin-bottom: 18px;

                            span {
                                color: #99999B;
                                font-size: 18px;
                            }
                        }

                        button {
                            gap: 10px;
                            border: none;
                            padding: 5px;
                            color: white;
                            font-size: 13px;
                            border-radius: 20px;
                            background-color: #15181D;
                        }

                    }

                }

                #icon-container {
                    top: 45%;
                    gap: 15px;
                    right: 20px;
                    display: flex;
                    position: absolute;
                    flex-direction: column;

                    .icon {
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        i {
                            color: white;
                            cursor: pointer;
                            // border: 2px solid white;
                            font-size: 30px;

                        }

                        h3 {
                            color: white;
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .reel::-webkit-scrollbar {
                display: none;
            }

        }

    }
}